body {
  margin: 0;
  overflow: hidden;
  background: #000000;
  font-family: Open sans;
  font-weight: 300;
}

canvas {
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

#ows {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index:999;
}

#rom_drop {
  text-transform: uppercase;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 999;
  width: 100%;
  height: 100%;
  color: #fff;
  font-family: Open sans;
  font-weight: 300;
  text-align: center;
  display: flex;
  justify-content:center;
  align-content:center;
  flex-direction:column;
  font-size: 18px;
  display: none;
}

#rom_drop > div {
  position: absolute;
  left: calc(50% - 175px);
  top: calc(50% - 12px);
}

#ts-ui {
  display: none;
}

#ts-layers-wrapper {
  float: right;
  overflow-y: scroll;
  overflow-x: hidden;
  background: rgba(87,87,87,0.5);
  height: 100%;
  position: absolute;
  right: 0px;
  top: 48px;
}

#ts-final {

}

.ts-top-head {
  height: 48px;
  background: rgba(87,87,87,0.5);
  border-bottom: 1px solid black;
  text-align: center;
  user-select: none;
  position: absolute;
  width: 100%;
}

.ts-top-head > img {
  margin-top: 6px;
  cursor: pointer;
  padding: 2px;
  width: 28px;
  margin-top: 8px;
}

#ts-final-layer-wrapper {
  width: 525px;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  background: rgba(87,87,87,0.5);
  position: absolute;
  top: 48px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

#ts-final-layer-wrapper > canvas {
  position: absolute;
}

.active-layer-btn {
  border: 1px solid rgba(255,255,255,0.1);
  background: rgba(255,255,255,0.1);
  padding: 1px !important;
}

#final-layer-wrapper-title {
  text-transform: uppercase;
  user-select: none;
  cursor: default;
  text-align: center;
  padding: 6px;
  color: white;
  font-weight: 300;
  font-size: 18px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.ts-btn {
  float: left;
  margin-top: 10px;
  text-transform: uppercase;
  background: rgba(0,0,0,0.1);
  color: #fff;
  padding: 6px;
  border: 1px solid rgba(0,0,0,0.5);
  font-size: 12px;
  margin-left: 6px;
  outline-color: rgba(255,255,255,0.25);
  cursor: pointer;
}

.ts-btn-active {
  background: rgba(255,255,255,0.1);
  border: 1px solid rgba(255,255,255,0.1);
  outline-color: rgba(0,0,0,0);
}

.ts-btn-invisible {
  float: left;
  margin-top: 10px;
  padding: 6px;
  border: 1px solid rgba(0,0,0,0.5);
  font-size: 12px;
  margin-left: 6px;
  cursor: default;
  opacity: 0;
  width: 32px;
}

::-webkit-file-upload-button {
  cursor:pointer;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 1px;
  border-radius: 1px;
  -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.35);
  background: rgba(255,255,255,0.55); 
}

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(255,255,255,0.55); 
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
  background: rgba(0,0,0,0.25); 
  -webkit-border-radius: 1px;
  border-radius: 1px;
}

input[type=file] {
  cursor:pointer;
}

.ts-checkbox {
  float: right;
  padding-right: 10px;
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
  margin-top: 16px;
  cursor: pointer;
}

.ts-checkbox > div {
  float: right;
  margin-top: -3px;
  padding-left: 4px;
}

.engine-right-menu-item > .ts-checkbox {
  padding: 7px;
}

.danger {
  color: rgba(229, 143, 143, 0.85) !important;
}

label input {
  visibility: hidden;
  display: block;
  height: 0;
  width: 0;
  position: absolute;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

label span {
  padding: 0;
  margin: 0;
  height: 10px;
  width: 10px;
  border: 1px solid grey;
  display: inline-block;
}

[type=checkbox]:checked + span {
  background: rgba(255,255,255,0.75);
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.ts-import-btn-wrapper {
  position: relative;
  float: left;
  margin-top: 10px;
}

.ts-import-btn {
  float: left;
  text-transform: uppercase;
  background: rgba(0,0,0,0.1);
  color: #fff;
  padding: 6px;
  border: 1px solid rgba(0,0,0,0.5);
  font-size: 12px;
  margin-left: 6px;
  outline-color: rgba(255,255,255,0.25);
}

.ts-import-btn-wrapper input[type=file] {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  width: 112px;
  margin-left: 6px;
  margin-top: 0px;
  height: 28px;
}

.ts-btn:disabled {
  cursor: not-allowed;
  color: rgba(255,255,255,0.5);
}

.ts-btn-arrow {
  font-size: 21px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.tg-grid-btn {
  float: left;
  padding-left: 10px;
}

.ui {
  display: none;
  transition: opacity 0.25s;
  opacity: 0;
}

.top-head-notice {
  float: left;
  color: rgba(255,255,255,0.55);
  margin-top: 16px;
  font-size: 12px;
  padding-left: 18px;
  text-transform: uppercase;
  user-select: none;
  cursor: default;
}

.engine-right-menu {
  position: absolute;
  width: auto;
  top: 144px;
  right: 0px;
  height: 100%;
  background: rgba(49, 49, 50, 0.98);
  border-left: 1px solid black;
  border-top: 1px solid black;
  text-align: center;
  user-select: none;
  overflow-y: scroll;
  overflow-x: hidden;
}

.engine-right-menu-top {
  height: 48px;
  width: 270px;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  right: 0px;
  position: fixed;
  background: #313132;
}

.engine-menu-top {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 100%;
  height: 48px;
}

.engine-menu-top-right {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 270px;
  height: 48px;
  border-left: 1px solid black;
  border-top: 1px solid black;
}

.engine-menu-middle-right {
  position: absolute;
  top: 48px;
  right: 0px;
  width: 270px;
  height: 48px;
  border-left: 1px solid black;
  border-top: 1px solid black;
}

.engine-menu-bottom-right {
  position: absolute;
  top: 96px;
  right: 0px;
  width: 270px;
  height: 48px;
  border-left: 1px solid black;
  border-top: 1px solid black;
}

.engine-menu-bottom {
  bottom: 0px;
  height: 176px;
  position: absolute;
  right: 0px;
  width: 100%;
  background: rgba(49, 49, 50, 0.98);
  border-top: 1px solid black;
}

.engine-menu-middle-right > img {
  width: 26px;
  margin-top: 8px;
}

.engine-abs-item-center {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid black;
  padding-bottom: 10px;
}

.engine-abs-item {
  border-bottom: 1px solid black;
  padding-bottom: 10px;
}

.engine-abs-item-label {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid rgba(128,128,128,0.2);
  padding-bottom: 0px;
}

.engine-abs-item-label > label {
  font-size: 10px;
}

.ts-top-head {
  background: rgba(49, 49, 50, 0.98);
}

#engine-ui-obj > .engine-right-menu {
  width: 270px;
  top: 48px;
}

#engine-ui-opt > .engine-right-menu {
  width: 270px;
  top: 48px;
}

#tg-ui {
  display: none;
}

#engine-ui {
  display: none;
}

.ssm {
  width: 34px;
}

.sm {
  width: 48px;
}

.md {
  width: 96px;
}

.lg {
  width: 128px;
}

.xl {
  width: 192px;
}

.ts-btn-head-fix {
  float: right;
  width: 270px;
}

.ts-top-head-item {
  float: right;
  padding-right: 6px;
}

.engine-right-menu-item > label, .ts-top-head-item > label, .engine-ui-encount-wrapper > label {
  float: left;
  padding: 5px;
  margin: 0;
  margin-left: 6px;
  margin-top: 10px;
  color: rgba(255,255,255,0.85);
  font-size: 12px;
  text-transform: uppercase;
  border: 1px solid rgba(255,255,255,0.02);
  background: rgba(255,255,255,0.01);
}

.engine-ui-encount-btn-close {
  float: right;
  margin-right: 6px;
  padding: 6px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.engine-ui-encount-icon {
  width: 32px;
  height: 52px;
  float: left;
}

.engine-ui-encount-icon:hover {
  background: rgba(255,255,255,0.0075);
}

.engine-ui-encount-icon > canvas {
  padding-top: 6px;
}

.engine-ui-encount-wrapper {
  position: relative;
  float: left;
}

.engine-right-menu-item {
  float: left;
  width: 100%;
}

.engine-ui-encount-item {
  width: 100%;
  float: left;
  border: 1px solid rgba(255,255,255,0.02);
  background: rgba(255,255,255,0.01);
  padding-bottom: 8px;
  margin-top: 4px;
}

.ts-btn-select {
  -webkit-appearance: button;
}

.ts-btn-select > option {
  background: rgba(0,0,0,0.8);
}

.ts-btn-select > option:hover {
  background: rgba(0,0,0,0.8);
  outline-color: red;
}

.ts-btn-select > option:checked {
  background: rgba(0,0,0,0.8);
  outline-color: red;
}

.map-label {
  cursor: default;
  position: absolute;
  left: 6px;
  color: rgba(255,255,255,0.975);
  top: 6px;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 20px 24px;
  font-size: 18px;
  font-weight: 300;
  font-family: "Open Sans";
  background: rgba(0,0,0,0.7);
  border: 1px solid rgba(0,0,0,0.475);
}

.ui-party-pkmn-container {
  position: absolute;
  bottom: 6px;
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
}

.party-pkmn-outer {
  width: 96px;
  height: 96px;
  background: rgba(0,0,0,0.7);
  margin-left: 8px;
}

.party-pkmn-inner {
  cursor: pointer;
  width: 80px;
  height: 80px;
  top: 8px;
  margin-left: 8px;
  background: rgba(255,255,255,0.05);
  transition: background 0.1s;
  position: absolute;
}

.party-pkmn-inner:hover {
  background: rgba(255,255,255,0.15);
}

.party-pkmn-inner > img {
  width: 88px;
  height: 88px;
  position: absolute;
  left: -4px;
  top: -6px;
}

/*
#ts-layers-wrapper::-webkit-scrollbar-track {
  background-color: rgba(255,255,255,0.2);
}
#ts-layers-wrapper::-webkit-scrollbar {
  width: 12px;
  background-color: rgba(255,255,255,0.65);
}
#ts-layers-wrapper::-webkit-scrollbar-thumb {
  background-color: grey;
  background-image: -webkit-gradient(
   linear, 0 0, 0 100%,
   color-stop(.5, rgba(255,255,255,.2)),
   color-stop(.5, transparent), to(transparent)
  );
}

#ts-final-layer-wrapper::-webkit-scrollbar-track {
  background-color: rgba(255,255,255,0.2);
}
#ts-final-layer-wrapper::-webkit-scrollbar {
  width: 12px;
  background-color: rgba(255,255,255,0.65);
}
#ts-final-layer-wrapper::-webkit-scrollbar-thumb {
  background-color: grey;
  background-image: -webkit-gradient(
   linear, 0 0, 0 100%,
   color-stop(.5, rgba(255,255,255,.2)),
   color-stop(.5, transparent), to(transparent)
  );
}
*/
